<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @state.name %>
</p>

<p>
  <strong>Cities:</strong>
    <ul>
      <% @cities.each do |city| %>
        <li><%= link_to "#{city.name}", city_path(city) %>
      <% end %>
    </ul>
</p>

<p>
  <strong>Warnings:</strong>
  <%= @state.warnings %>
</p>

<%= link_to 'Edit', edit_state_path(@state) %> |
<%= link_to 'Back', states_path %>
